version: "3.8"

services:

  db:
    image: mysql:8.0
    container_name: mysql-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root123
      MYSQL_DATABASE: meubanco
    volumes:
      - ./db/banco.sql:/docker-entrypoint-initdb.d/banco.sql
    networks:
      - app-network

  app1:
    image: php:8.2-apache
    volumes:
      - ./app:/var/www/html
    environment:
      DB_HOST: db
      DB_USER: root
      DB_PASSWORD: root123
      DB_NAME: meubanco
    networks:
      - app-network

  app2:
    image: php:8.2-apache
    volumes:
      - ./app:/var/www/html
    environment:
      DB_HOST: db
      DB_USER: root
      DB_PASSWORD: root123
      DB_NAME: meubanco
    networks:
      - app-network

  app3:
    image: php:8.2-apache
    volumes:
      - ./app:/var/www/html
    environment:
      DB_HOST: db
      DB_USER: root
      DB_PASSWORD: root123
      DB_NAME: meubanco
    networks:
      - app-network

  nginx:
    build: ./nginx
    ports:
      - "4500:4500"
    depends_on:
      - app1
      - app2
      - app3
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
